body {
    color: #616161;
    overflow-x: hidden;
    height: 100%;
    background-color: #ECEFF1;
    background-repeat: no-repeat
}

.card-strip {
    background-color: #fff;
    padding: 25px;
    width: 950px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 1px 3px 7px;
}

.dark-text {
    color: #000
}

.extended-title {
    color: #757575;
    background-color: #E0E0E0;
    padding: 1px 5px
}

.fa-star {
    color: #E0E0E0
}

.fa-star.active {
    color: #FFC400
}

.green-block {
    color: #00695C;
    background-color: #B2DFDB;
    padding: 3px 20px;
    border-radius: 2px
}

.comp-logo {
    width: 70px;
    height: 80px
}

.v-line {
    width: 1px;
    background-color: #E0E0E0;
    margin-right: 150px
}

.blue-text {
    color: #00B8D4
}

.price-fall {
    font-size: 17px
}

.btn-orange {
    background-color: #FF9800;
    color: #fff
}
.row.card-strip{
    margin: 20px auto;
    box-shadow: 1px 3px 7px;

}
.carousel-inner{
    height: 250px;
}

.img-car{
    float: left;
    width:  100%;
    height: 250px!important;
    object-fit: cover;
}
