.card-title{
    text-align: center;
}
.imgx{
    max-height: 150px;
}


.cards-continer{
    margin-right: 40px;
}
.card{
    cursor: pointer;
}
.col-sm-4:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    z-index: 2;
}
