.container{
    margin-top: 50px!important;
}
.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;

}
.center-col
{
    box-shadow: 1px 3px 9px;
}

.li-center{
    margin: auto;
    color: white;

}


@media screen and (max-width: 1012px) {
    .card-strip {
        width: 100%
    }
}

@media screen and (max-width: 859px) {
    .v-line {
        display: none
    }

    .price {
        width: 100%;
        margin-left: 95px
    }
}

@media screen and (max-width: 529px) {
    .price {
        margin-left: 0px
    }
}
.row.header {
    background-color: #1d2124 !important;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    box-shadow: 1px 2px 5px black;
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.image-center{
    margin: auto;
    padding-bottom: 50px;
}
.container-shadow{
    box-shadow: 1px 3px 7px;
}